.swiper {
  width: calc(100% - 16px) !important;
  height: 100%;
  box-shadow: none !important;
  text-shadow: none !important;
}

.swiper-slide {
  text-align: center;
  background: transparent;
  width: 101.27px !important;
  height: 121.53px !important;
  margin: 20px 5px 0 5px !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

.swiper-pagination-bullet {
  display: none;
}
