:root {
  --gray-1: #ebebeb;
  --gray-3: #dadada;
  --gray-5: #bfbfbf;
  --gray-7: #555555;
  --gray-10: #2c2825;
  --green: #55977a;
  --white: #fff;
  --black: #212121;
  --brown: #665547;
  --brown-3: #956c4a;
  --gradient: #1e1818;

  --skeleton: #e5e5e5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #151616;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

button:disabled {
  background-color: #d6d6d6;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
