:root {
  --primary: #2ec2b8;
  --primary-hover: #20a097;
  --font-main: #0f0f0f;
  --gray: #555555;
  --Line: #f4f4f4;
  --purple: #8e44ad;
  --yellow: #fff200;
  --pink: #ffcccc;
  --orange: #ff9f1a;
  --white: #fff;
  --black: #212121;
  --blue: #4d7cfe;
  --red: #e00303;
  --brown: #665547;
  --gradient: #1e1818;
  --goalShotButton: #2c2825;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

button:disabled {
  background-color: #d6d6d6;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
